@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* Variables */
:root {
    --main-accent:#f15d30;;
    --light-accent-color: #f1f1f5;
    --dark-accent-color: #333;
    --main-grey: #555;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}
.title-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/main-home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav .navbar-brand {
    font-size: 24px;
}
.nav {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-weight: 900;
}
.nav a {
    color: var(--light-accent-color);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.nav a span {
    color: var(--main-accent);
    font-size: 12px;
    letter-spacing: 2px ;
}
.item-list {
    float: right;
}
.items {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}
nav ul a {
    color: var(--light-accent-color);
    font-weight: 500;
    font-weight: 20px;
}

/* Title heading */
.title-heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 60%;
    height: 90vh;
    margin: auto;
}
.div1 {
    margin: auto;
}
.sub-heading {
    color: var(--main-accent);
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.div1 h1 {
    color: var(--light-accent-color);
    font-size: 60px;
    font-weight: 700;
}
.div1 p {
    color: var(--light-accent-color);
    font-size: 18px;
    margin-top: 20px;
}
.div2 {
    position: relative;
}
.div2 i {
    margin: auto;
    background: var(--light-accent-color);
    color: var(--main-accent);
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}